* {
    font-family: Archivo, sans-serif;
}

.header-app {
    height: 100px;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.app-background {
    margin: 0;
    padding: 0;
    background-image: url("../assets/backgroundcvm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Archivo, sans-serif;
}

.gobierno-logo-container {
    width: 125px;
    background-image: url(../assets/logo-gobierno.png);
    background-size: cover;
}

.logo-app-container {
    width: 350px;
    background-image: url(../assets/comercializacion-logo.png);
    background-size: cover;
}