.header-app {
    height: 80px;
    width: 100%;
    background: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    /* background-image: url("../assets/cintillo-header.png");
    background-size: cover;
    background-repeat: no-repeat; */
    border-bottom: 3px solid black;;
}

.app-background {
    margin: 0;
    padding: 0;
    background-image: url("../assets/backgroundcvm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Archivo, sans-serif;
}

.home-logo-container {
    width: 350px;
    background-image: url(../assets/comercializacion-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-logogobierno-container {
    width: 140px;
    background-image: url(../assets/logo-gobierno.png);
    background-size: cover;
    background-repeat: no-repeat;
}