.certificate-register {
    margin-top: -250px;
    height: 600px;
    width: 700px;
    border: 2px solid #f7cd00;
    border-radius: 50px 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: conthraxsemibold;
}

.certificate-text {
    font-family: conthraxsemibold;
}

@media (max-width: 768px) {
    .bm-burger-bars {
        background: white;
      }

      .certificate-register {
        width: 450px;
    }
    .certificate-text {
        font-size: 14px;
    }
}

