
.divPadre {
    height: 100vh;
    position: relative;
    background: black;
}

.divHijo {
    width: 75vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo-loading-container {
    width: 100%;
    height: 175px;
    background-image: url(../assets/comercializacion-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}