* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700;900&display=swap');
@font-face {
    font-family: 'conthraxsemibold';
    src: url('../fonts/conthrax-sb-webfont.woff2') format('woff2'),
         url('../fonts/conthrax-sb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*REGISTER PAGE*/