/*LOGIN PAGE*/

.login {
    background-image: url("../assets/backgroundcvm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Archivo, sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container-form {
    margin-top: 25px;
    width: 75vh;
    height: 60vh;
    border: 2px solid #f7cd00;
    border-radius: 50px 0px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-text {
    font-family: conthraxsemibold;
    margin-bottom: 10px;
    font-size: 24px;
}

.login-input-background {
    margin-left: 20px;
    border: 2px solid #f7cd00;
    border-radius: 25px 0px;
    width: 600px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.login-input-background input {
    margin-top: 8px;
    width: 85%;
    height: 70%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
}
.login-input-background input::placeholder {
    color: white;
    font-size: 24px;
}
#forgot-password-text {
    font-family: conthraxsemibold;
    margin-bottom: 10px;
    font-size: 24px;
}
#forgot-password-text a {
    text-decoration: none;
    color: #f2c627;
}
.login-btn {
    background-color: #1b533d;
    outline: none;
    border: 0;
    width: 500px;
    height: 65px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    border-radius: 25px 0px;;
}

@media (max-width: 1300px) {

.login-container-form {
    margin-top: 5vh;
    height: 75vh;
}

.login-input-background {
    margin-left: 10px;
    width: 550px;
    height: 70px;
}

#login-text {
    font-size: 21px;
}

#forgot-password-text {
    font-size: 21px;
    color: #f2c627;
}

.login-btn {
    width: 450px;
}
}

@media (max-width: 1200px) {
    .login-container-form {
        margin-top: 5vh;
        height: 75vh;
        width: 600px;
    }
    
    .login-input-background {
        margin-left: 10px;
        width: 500px;
        height: 60px;
    }
    #login-text {
        font-size: 19px;
    }
    #forgot-password-text {
        font-size: 19px;
        color: #f2c627;
    }
    .login-btn {
        width: 400px;
    }
}

@media (max-width: 992px) {	
    .login-container-form {
    margin-top: 10vh;
    height: 80vh;
    width: 550px;
}

.login-input-background {
    margin-left: 10px;
    width: 400px;
    height: 60px;
    margin-bottom: 20px;
}

#login-text {
    font-size: 19px;
}
#forgot-password-text {
    font-size: 14px;
}

.login-btn {
    width: 350px;
}
}

@media (max-width: 768px) {
    .login-container-form {
        border: none;
        border-radius: none;
        width: auto;
    }
    .login-input-background {
        margin-left: 10px;
        width: 350px;
        height: 60px;
        margin-bottom: 20px;
    }
    #login-text {
        font-size: 21px;
    }
    #forgot-password-text {
        font-size: 14px;
    }
    .login-btn {
        width: 300px;
    }

}